body {
	background: #1D202B;
	color: bisque;

}

.parrafo_inicial {

	font-family: 'Stardos Stencil', cursive;
	text-transform: none;
	width: 80%;
	text-align: center;
	top: 0;
	left: 0;
	transform: translate(13%, 0%);
	
}

.contenedor {
	height: 90%;

}
.imagen_fondo{
	background-image: url(../img/loboaf.jpg);
	height: 30rem;
	background-size: cover;
	background-repeat: no-repeat;
	/* right top para ajustar la foto en el background */
	background-position: right top;
	position: relative;
}
/* para sombrear esa imagen de fondo se usar el rgba con tres ceros y al final .numero para la cantidad de sombreado
hay que poner el hijo en posicion absoluta con respecto al padre que será relativa, así no coge de referencia al documento */
.sombreado{
	position:absolute;
	background-color: rgba(0,0,0, .7);
	width: 100%;
	height: 100%;
}

.caja {

	background-size: cover;
	/*para que no se repita la foto, que cubra todo el fondo*/
	background-position: center center;
	
}
.caja>a {
	text-decoration: none;
	color: bisque;
}
p {
	text-transform: none;
	color: bisque;
	/* font-family: 'Rubik Dirt', cursive; */
	font-size: 15px;
	font-family: 'Stardos Stencil', cursive;
	text-align: center;
	

}
h1{
	text-align: center;
}
h2,p{
	text-align: justify;
	
}

.contenedor-grid {
	background: #1D202B;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 1fr);
	justify-content: center;
	gap: 10px;
	padding: 10px;
	text-transform: uppercase;
	opacity: 1;

}
/* fotos background de grid y flex  */
#info{
	background-image: url(../img/fondoNegro.jpg);
}
#caja4_1{
	background-image: url(../img/loboaf3.png);
}
#caja4_2{
	background-image: url(../img/loboaf4.jpg);
}
#caja5_1{
	background-image: url(../img/lobo-af2.jpg);
}
#caja5_2{
	background-image: url(../img/loboaf5.jpg);
	
}
#caja6_1{
	background-image: url(../img/lob1.jpg);
}
#caja6_2{
	background-image: url(../img/lob2.jpg);
}

.textos {
	margin-left: 10px;
	color: bisque;
	padding: 15px;

}

.caja10 {

	width: 100%;
	background-color: antiquewhite;
	background-size: cover;
	/*para que no se repita la foto, que cubra todo el fondo*/
	background-position: center center;
}


.flex-container {

	display: flex;
	justify-content: center;
	height: 100%;
	min-height: 125px;


}


footer {
	background-color:bisque;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 25px;
	color: black;
	text-align: center;
	padding-top: 5px;
	font-family: 'Rubik Dirt', cursive;
}


@media screen and (min-width: 1200px) {

	.contenedor {
		height: 90%;
	}

	.contenedor-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 5px;

	}

	html {
		min-height: 100%;
		position: relative;
	}
	body {
		margin: 0;
		margin-bottom: 40px;
	}
	footer {
		background-color: antiquewhite;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 20px;
		color: black;
	}


}

@media screen and (min-width: 601px) and (max-width: 1200px) {
	.contenedor-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows:1fr 1fr 1fr;
		grid-gap: 5px;
		margin: 0 auto;

	}

	.contenedor {
		height: 90%;
	}

	html {
		min-height: 100%;
		position: relative;
	}
	body {
		margin: 0;
		margin-bottom: 40px;
	}
	footer {
		background-color: antiquewhite;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 20px;
		color: black;
	}
}

@media screen and (max-width: 600px) {
	.contenedor-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr);
		justify-content: center;
		gap: 10px;
		padding: 10px;

	}

	html {
		min-height: 100%;
		position: relative;
	}
	body {
		margin: 0;
		margin-bottom: 40px;
	}
	footer {
		background-color: antiquewhite;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 20px;
		color: black;
	}
}